/* .createWO {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.form {
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
  width: 80%;
  display: flex;
  flex-direction: column;
  min-height: 40rem;
  background-color: rgba(240, 248, 255, 0.418);
  justify-content: space-between;
}

.left {
  background-color: rgba(252, 250, 250, 0.816);
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.single-input {
  color: #000;
}

.tool-div {
  display: flex;
  justify-content: center;
  padding: 15px;
  min-height: 30rem;
}

.tool-container {
  background-color: rgba(252, 250, 250, 0.816);
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 42%;
}

.more-stuff {
  background-color: rgba(252, 250, 250, 0.816);
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 42%;
}

.calibration-tools {
  margin: 2px;
  border: 1px black solid;
  border-radius: 5px;
}

.calibration-tool-field {
  background-color: #fffff8bf;
  border-radius: 5px;
}

.input-tool-pn {
  width: 15rem;
}

.btn-container {
  background-color: rgba(252, 250, 250, 0.816);
  flex-shrink: 0;
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.btn {
  height: 2.5rem;
  width: 4rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(30, 137, 41);
  margin: 5px;
  font-weight: bold;
}
.btn:hover {
  border: 1px solid rgb(20, 175, 0);
  color: black;
  background-color: rgb(45, 250, 45);
  box-shadow: 0px 0px 4px 4px rgba(31, 210, 34, 0.596);
}
