:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: #010000ae;
  box-shadow: inset 3px 3px 55px 55px hsla(0, 0, 0, 0.181);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  display: flex;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
}

section {
  width: 95%;
  height: 90%;
  max-width: 100%;
  border: 3px solid white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  padding: 20px;
  background-color: rgba(164, 187, 219, 0.367);
}

a {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.622);
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  padding: 8px;
  text-align: center;
  width: 4rem;
}
a:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 4px 4px rgba(11, 11, 229, 0.455);
}

input {
  padding: 3px;
  margin: 5px;
  width: 11.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 16px;
  border-radius: 3px;
  border: solid 1px black;
}

.title {
  margin: auto;
  text-align: center;
  font-size: 28px;
}

.back-btn {
  display: flex;
}
