.archive-section {
  width: 95%;
  height: 90%;
  max-width: 100%;
  border-radius: 25px;
  background-color: rgba(164, 187, 219, 0.367);
  justify-content: space-between;
  align-items: center;
  padding: 9px;
}

.recent-activty-container,
.archive-form {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.418);
  width: 47%;
  height: 95%;
}
