.update-tool {
  display: flex;
  flex-direction: column;
  min-width: 47rem;
}

.list-container {
  border: 1px solid white;
  width: 90%;
  display: flex;
  margin: auto;
}

.add-tool {
  background-color: rgba(252, 250, 250, 0.816);
  display: flex;
  flex-direction: column;
  /* border: 1px black solid; */
  border-radius: 5px;
  align-items: center;
}
